{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/resultTag.njk" import resultTag %}

{% set pageTitle = applicationName + " – Scan recorded" %}
{% set breadcrumbs = null %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set prisonerDetailsHtml %}
        <div class="govuk-!-font-size-36">
          <strong>Name:</strong> {{ prisoner.displayName }}
          <br />
          <strong>Prison number:</strong> {{ prisoner.prisonerNumber }}
        </div>
      {% endset %}
      {{ govukPanel({
        titleText: "Scan recorded",
        html: prisonerDetailsHtml
      }) }}

      <h2 class="govuk-heading-m">Scan details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Date" },
            value: { text: scan.scanDate | formatDisplayDate }
          },
          {
            key: { text: "Reason" },
            value: { text: scan.justificationDescription }
          },
          {
            key: { text: "Result" },
            value: { html: resultTag(scan) }
          }
        ]
      }) }}

      {% if internalSecretorAlert %}
        <div data-testid="internal-secretor-alert">
          <p>An internal secretor alert already exists for this person.</p>
          {% if isGranted(PrisonerAlertsPermission.edit, prisonerPermissions) %}
            <p>
              Update the alert if this scan changes the level of risk,
              <a href="{{ prisonerProfileUrl }}/prisoner/{{ prisoner.prisonerNumber }}/alerts/{{ internalSecretorAlert.id }}/add-more-details">
                Update internal secretor alert
              </a>.
            </p>
          {% else %}
            <p>
              <a href="{{ prisonerProfileUrl }}/prisoner/{{ prisoner.prisonerNumber }}/alerts/detail?ids={{ internalSecretorAlert.id }}">
                View the alert details
              </a>
            </p>
          {% endif %}
        </div>
      {% endif %}

      {% if isGranted(CaseNotesPermission.read, prisonerPermissions) and canAddCaseNotToScan(user, scan) %}
        <div data-testid="add-case-note">
          <p>You can create a case note if you need to record additional information about this scan.</p>
          {{ govukButton({
            text: "Add a case note",
            classes: "govuk-button--secondary",
            href: "/prisoner/" + prisoner.prisonerNumber + "/scan/" + scan.id + "/add-a-scan-case-note"
          }) }}
        </div>
      {% endif %}

      <div class="govuk-button-group">
        {% if wpipReturnPath %}
          {{ govukButton({
            text: "Return to recent arrivals",
            href: welcomePeopleIntoPrisonUrl + wpipReturnPath,
            attributes: { "data-signal-end-journey": "wpip" }
          }) }}
        {% else %}
          {{ govukButton({
            text: "Return to X-ray body scans",
            href: "/prisoner/" + prisoner.prisonerNumber + "/scan-overview"
          }) }}
        {% endif %}

        <a class="govuk-link" href="{{ prisoner | prisonerProfileUrl }}">View this person’s profile</a>
      </div>

    </div>
  </div>
{% endblock %}
