{% extends "partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "dps/components/alert-flag/macro.njk" import alertFlag %}
{% from "dps/components/modal/macro.njk" import hmppsModal %}
{% from "components/flashMessage.njk" import flashMessage %}
{% from "components/infoBox.njk" import infoBox %}
{% from "components/pagination.njk" import paginate %}
{% from "components/profileBanner.njk" import profileBanner %}
{% from "components/resultTag.njk" import resultTag %}
{% from "components/scanCount.njk" import scanCount %}

{% set pageTitle = applicationName + " – X-ray body scans" %}
{% set breadcrumbs = [
  { text: 'Digital Prison Services', href: dpsHomeUrl },
  { text: prisoner.reversedDisplayName, href: prisoner | prisonerProfileUrl }
] %}

{% block content %}

  {{ profileBanner({
    prisoner: prisoner,
    prisonerPermissions: prisonerPermissions
  }) }}

  <h1 class="govuk-heading-l">X-ray body scans</h1>

  {{ govukButton({
    text: "Record a new scan",
    href: "/prisoner/" + prisonerNumber + "/record-scan"
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <div class="scan-summary-and-alerts govuk-grid-row">
    <section class="scan-summary govuk-grid-column-three-quarters" data-testid="scan-summary">
      <h2 class="govuk-heading-m">
        X-ray body scans recorded in {{ scanSummary.fromScanDate.getFullYear() }}
      </h2>

      {% if scanSummary.nomisCount %}
        {% set infoText %}
          {% if scanSummary.nomisCount == 1 %}
            1 scan does not have a result available
          {% else %}
            {{ scanSummary.nomisCount }} scans do not have a result available
          {% endif %}
        {% endset %}
        {{ infoBox({
          text: infoText,
          secondaryText: "Legacy records do not include a scan result. View the scan history details for additional information.",
          testid: "dps-scans-exist"
        }) }}
      {% endif %}

      <div class="scan-summary__container">
        <section class="scan-count__container" data-testid="scan-count">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Scans in {{ scanSummary.fromScanDate.getFullYear() }}
          </h3>

          {{ scanCount(scanSummary) }}
        </section>

        <section class="scan-outcome__container" data-testid="scan-outcome">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Scan results
          </h3>
          <ul class="govuk-list scan-outcome__list">
            <li class="scan-outcome scan-outcome--positive">
              <p>Items detected</p>
              <p class="scan-outcome__count">{{ scanSummary.positiveCount }}</p>
            </li>
            <li class="scan-outcome scan-outcome--inconclusive">
              <p>Inconclusive</p>
              <p class="scan-outcome__count">{{ scanSummary.inconclusiveCount }}</p>
            </li>
            <li class="scan-outcome scan-outcome--negative">
              <p>No item detected</p>
              <p class="scan-outcome__count">{{ scanSummary.negativeCount }}</p>
            </li>
          </ul>
        </section>
      </div>

    </section>

    <section class="scan-alerts govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">
        Scan alerts
      </h2>

      <ul class="govuk-list" data-testid="scan-alerts">
        {% for alert in alertFlags %}
          <li>
            {# href, if needed, could be:
            {% set alertDetailsUrl -%}
              {{ prisonerProfileUrl }}/prisoner/{{ prisoner.prisonerNumber }}/alerts//detail?ids={{ alert.id }}
            {%- endset %}
            #}
            {{ alertFlag({
              alert: alert
            }) }}
          </li>
        {% else %}
          <li data-testid="no-scan-alerts">No scan alerts</li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <section id="scan-history" data-testid="scan-history">
    <h2 class="govuk-heading-m">X-ray body scan history</h2>

    <div class="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item {{ "govuk-tabs__list-item--selected" if not yearFilter }}">
          <a class="govuk-tabs__tab" href="?">
            This year’s scans
          </a>
        </li>
        {% for historicYear in historicYears %}
          <li class="govuk-tabs__list-item {{ "govuk-tabs__list-item--selected" if yearFilter === historicYear }}">
            <a class="govuk-tabs__tab" href="?year={{ historicYear }}">
              {{ historicYear }} scans
            </a>
          </li>
        {% endfor %}
        <li class="govuk-tabs__list-item {{ "govuk-tabs__list-item--selected" if yearFilter === "all" }}">
          <a class="govuk-tabs__tab" href="?year=all">
            All scans
          </a>
        </li>
      </ul>
    </div>

    {% if not yearFilter %}
      {% set tableDescription %}Scans recorded this year{% endset %}
    {% elseif yearFilter === "all" %}
      {% set tableDescription %}All scans recorded{% endset %}
    {% else %}
      {% set tableDescription %}Scans recorded in {{ yearFilter }}{% endset %}
    {% endif %}
    <h3 class="govuk-heading-s">{{ tableDescription }}</h3>

    {% set rows = [] %}
    {% for scan in scanRows %}

      {% set cellClasses = "scan-table__highlighted-cell" if scan.highlightedRow else "" %}
      {% set actionLink %}
        {# everyone seeing this page sees the view link #}
        {% if scan.caseNoteId %}

          {% set caseNoteLink %}
            {%- if isGranted(CaseNotesPermission.edit, prisonerPermissions) -%}
              {{ prisoner | prisonerProfileUrl }}/update-case-note/{{ scan.caseNoteId }}
            {%- elseif isGranted(CaseNotesPermission.read, prisonerPermissions) -%}
              {{ prisoner | prisonerProfileUrl }}/case-notes?type=GEN&subType=XRBS&startDate={{ scan.scanDate | formatDisplayShortDate }}&endDate={{ scan.scanDate | formatDisplayShortDate }}
            {%- else -%}
              /prisoner/{{ prisoner.prisonerNumber }}/scan/{{ scan.id }}/case-note
            {%- endif -%}
          {% endset %}
          <a href="{{ caseNoteLink }}" class="govuk-link govuk-link--no-visited-state hmpps-modal__trigger-show" data-hmpps-modal-id="case-note-modal" data-hmpps-modal-url="/prisoner/{{ prisoner.prisonerNumber }}/scan/{{ scan.id }}/case-note">
            View case note
          </a>

        {# only those who can *read* case notes can add one (they may not normally be allowed to create) #}
        {# scan must have been recorded in active case load within last 31 days #}
        {% elseif scan.source === "DPS" and isGranted(CaseNotesPermission.read, prisonerPermissions) and canAddCaseNotToScan(user, scan) %}

          <a href="/prisoner/{{ prisonerNumber }}/scan/{{ scan.id }}/add-a-scan-case-note{{ returnParameters }}" class="govuk-link govuk-link--no-visited-state add-case-note-link">
            Add case note
          </a>

        {% endif %}
      {% endset %}

      {% set _ = rows.push([
        { text: scan.scanDateDescription, classes: cellClasses },
        { text: scan.prisonDescription, classes: cellClasses },
        { text: scan.justificationDescription, classes: cellClasses },
        { html: resultTag(scan), classes: cellClasses },
        { html: actionLink, classes: "scan-table__action-td " + cellClasses }
      ]) %}
    {% endfor %}
    {% if rows.length > 0 %}

      {% if addedCaseNoteToScan %}
        {{ flashMessage({ message: "Case note added" }) }}
      {% endif %}

      {% set pagination = paginate(pagination) %}
      {{ pagination }}

      <div class="scan-table__container">
        {% set sortOptions = sorter("scanDate") %}
        {% set scanDateHtml %}
          <a href="{{ sortOptions.href }}" class="scan-table__sort-link">
            Date
            {% if sortOptions.currentDirection === "ASC" %}
            <span class="govuk-visually-hidden">(sorted ascending)</span>
            {% else %}
            <span class="govuk-visually-hidden">(sorted descending)</span>
            {% endif %}
          </a>
        {% endset %}
        {{ govukTable({
          head: [
            { html: scanDateHtml, attributes: {
              "aria-sort": "ascending" if sortOptions.currentDirection === "ASC" else "descending"
            } },
            { text: "Establishment" },
            { text: "Reason" },
            { text: "Scan details", classes: "scan-table__details-th" },
            { text: "Action", classes: "scan-table__action-th" }
          ],
          rows: rows,
          classes: "scan-table",
          caption: tableDescription,
          captionClasses: "govuk-visually-hidden"
        }) }}
      </div>

      {{ pagination }}

      {{ hmppsModal({
        id: "case-note-modal",
        title: "Case note details"
      }) }}
    {% else %}

      <p class="govuk-!-margin-bottom-6">
        {% if not yearFilter %}
          No X-ray body scans have been recorded for this person in {{ now().getFullYear() }}.
        {% elseif yearFilter === "all" %}
          No X-ray body scans have been recorded for this person.
        {% else %}
          No X-ray body scans have been recorded for this person in {{ yearFilter }}.
        {% endif %}
      </p>

    {% endif %}

  </section>

  <p>
    {% if wpipReturnPath %}
      <a href="{{ welcomePeopleIntoPrisonUrl }}{{ wpipReturnPath }}" data-testid="return-link" data-signal-end-journey="wpip">
        Return to recent arrivals
      </a>
    {% else %}
      <a href="{{ prisoner | prisonerProfileUrl }}" data-testid="return-link">
        Return to the prisoner’s profile
      </a>
    {% endif %}
  </p>

{% endblock %}
